doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer(class="footer")
    div JOEMATTAR - THE ODIN PROJECT
    a(href="https://github.com/joemattar" target="_blank" rel="noreferrer")
      img(src="/images/github_logo_white.png" alt="Github Logo")
