extends layout

block content
  .new-message-container
    h1= title_section
    form(method="post" action="" class="new-message-form")
      input(type="text" name="user" placeholder="Enter user name...")
      textarea(type="textarea" name="text" placeholder="Enter message text...")
      button(type="submit") POST MESSAGE
    a(href="/")
      button() CANCEL
    if errors
      ul.errors
        for error in errors
          li!= error.msg