body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;

  margin: 1rem;

  width: 100vw - 2rem;
}

a {
  color: #00B7FF;

  text-decoration: none;

  width: 100%;
}

button {
  font-family: inherit;
  font-size: 1rem;

  width: 100%;
}

h2 {
  margin: 0.5rem 0;
}

hr {
  width: 100%;
}

input {
  font-family: inherit;
  font-size: 1rem;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  font-family: inherit;
  font-size: 1rem;
}

.errors {
  color: red;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.message-container {
  background-color: lightgreen;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  padding: 0.5rem;

  width: min(100%, 40rem);
}

.message-user {
  font-size: 1rem;
  font-weight: 900;
}

.message-text {
  font-size: 1rem;
  font-style: italic;
}

.message-timestamp {
  font-size: 0.85rem;

  text-align: right;
}

.new-message-a {
  width: fit-content;
}

.new-message-button {
  font-size: 1rem;
  font-weight: 900;

  padding: 0.5rem;

  width: fit-content;
}

.new-message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: min(100%, 40rem);
}

.new-message-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titles {
  font-size: 1.5rem;

  text-align: center;
}